.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  opacity: 70%;
  text-transform: uppercase;
  padding: 20px 0px;
  font-family: "Kanit", sans-serif;
  font-size: 10px;
  font-style: normal;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.41);
}

.navLink {
  padding-right: 39px;
  cursor: pointer;
}

.loginLink {
  cursor: pointer;
}
